@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Merienda+One|Lato");

html, body {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

#container {
  min-height: 90%;
}

footer {
  background-color: #1a237e;
  text-align: right;
  padding: 2%;
}

.fa:hover {
  text-decoration: none;
}