.jumbotron {
    text-align: center;
}
.jumbo-left {
    border-radius: 300px;
    height: 200px;
    width: 200px;
    
}

.row {
    margin-left: 0;
    margin-right: 0;
}
#nav-container {
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 10;
}
#nav-home {
    width: 25%;
}
#nav-list {
    width: 75%;
}

#nav-list a {
    text-align: center;
}
#nav-home a {
    margin-left: 20px;
} 
.nav-i {
    padding: 0;
    margin-top: 20px;
    font-size: 20px;
    color: white;
}
.nav-i:hover {
    color: #1a237e;
    text-decoration: none;
}

.carousel-control-prev-icon {
    /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231a237e' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");*/
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231a237e' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");*/
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}