footer.footer
  .social-media
    a.fa.fa-2x(href="mailto:jaliyahconsulting@gmail.com",        class="fa-envelope")
    a.fa.fa-2x(href="https://facebook.com/jaliyahconsulting",    class="fa-facebook-official")
    a.fa.fa-2x(href="https://instagram.com/jaliyahconsulting",   class="fa-instagram")
    a.fa.fa-2x(href="https://youtube.com/jaliyahconsulting",     class="fa-youtube-play")
    a.fa.fa-2x(href="https://plus.google.com/jaliyahconsulting", class="fa-google-plus")
