footer.footer
  .social-media
    a.fa.fa-2x(href="mailto:jaliyahconsulting@gmail.com",        class="fa-envelope")
    a.fa.fa-2x(href="https://www.facebook.com/wendi.oneal",      class="fa-facebook-official")
    a.fa.fa-2x(href="https://youtube.com/jaliyahconsulting",     class="fa-youtube-play")
