i.hamburger.fa.fa-bars(aria-hidden="true")
nav.nav
  .nav-item
    a.nav-link(href="index.html") Jáliyah
  .nav-item.dropdown
    a.nav-link.about-dropdown(href="about.html", data-toggle="dropdown") About
    .dropdown-menu
      a.nav-link(href="wendi.html") Wendi
      a.nav-link(href="jali.html") Jáli
  .nav-item
    a.nav-link(href="contact.html") Contact
  .nav-item
    a.nav-link(href="gallery.html") Gallery
  .nav-item
    a.nav-link(href="resources.html") Resources
  .nav-item
    a.nav-link(href="services.html") Services
