doctype html
html
  head
    title About | Jáliyah Consulting
    include ../templates/head
    link(rel="stylesheet", href="about.css")
  body
    .page
      include ../templates/nav
      .jumbotron.topview
        h1 About
        span About Jáliyah
    include ../templates/footer
