doctype html
html
  head
    title About Jáliyah Consulting
    include ../templates/head
    link(rel="stylesheet", href="about.css")
  body
    .page
      include ../templates/nav
      .jumbotron.topview
        h1 About
        span About Jáliyah
      .container.paragraphs
        h2 Mission
        a
          p We do work that is rooted in practices I learned from civil rights movement veterans.&nbsp;
            | Jaliyah uses freedom singing, to apply movement values and lessons from the past to change conditions in the contemporary movement.&nbsp;
            | We get groups to listen and tell stories of life experiences to encourage people to organize across a broad range of issues and identities to practice being fearless enough to build working class people's power to live whole, creative lives for our families and communities.
        a 
          p We offer story circle workshops, freedom singing circles, and facilitation support to people committed to building a more just city, state, country and beyond any borders.
          p We seek to connect people, support people in recognizing patterns and practice challenging and transforming white supremacist culture.

    include ../templates/footer
