doctype html
html
  head
    title Gallery | Jáliyah Consulting
    include ../templates/head
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
    link(rel="stylesheet", href="gallery.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/zingtouch/1.0.5/zingtouch.min.js")
    script(src="scripts/gallery.js")
  body
    .page
      include ../templates/nav
      .jumbotron.topview
        h1 Gallery
        span Jáliyah Gallery
      .gallery(ontouchstart="")
        .imgs
          .last-img
            a
              i.animated.infinite.fa.fa-2x.fa-arrow-left(aria-hidden="true")
          .next-img
            a
              i.animated.infinite.fa.fa-2x.fa-arrow-right(aria-hidden="true")
        .bottom-select
    include ../templates/footer
