doctype html
html
  head
    title Gallery | Jáliyah Consulting
    include ../templates/head
    link(rel="stylesheet", href="gallery.css")
    script(src="scripts/gallery.js")
  body
    .page
      include ../templates/nav
      .jumbotron.topview
        h1 Gallery
        span Jáliyah Gallery
      .container
        .imgs
          .hover-img-container
            img(src="images/anti-trump-rally.jpg")
            .description Wendi, Thea Bashful, Rev. Dr. Denise Graves, Nana Anowa Nantambu, after singing at the New Orleans anti-Trump rally
          .hover-img-container
            img(src="images/dont-start-me-to-talking.jpg")
            .description My father's book, "Don't Start Me To Talking..."
          .hover-img-container
            img(src="images/father-and-brother.jpg")
            .description My Dad, John O'Neal and brother, William O'Neal after a performance at Alernate ROOTS
              .credit Melissa Cardona
          .hover-img-container
            img(src="images/groupimg0.jpg")
            .description Incite! Women of Color Against Violence meeting in New Orleans
          .hover-img-container
            img(src="images/groupimg1.jpg")
            .description Changelab, Oakland CA
          .hover-img-container
            img(src="images/jali.jpg")
            .description Mady Kouyate, Amadou Kouyate and Bintou Kouyate continue the cultural and musical path of their father, mother, and ancestors as dynamic musicians and performers of Manding traditions. They are the 150th generation of the Kouyate lineage.
          .hover-img-container
            img(src="images/jaliyah-logo-fabrics-1.jpg")
            .description Jaliyah Logo
          .hover-img-container
            img(src="images/leading-story-circle-homecoming.jpg")
            .description Leading a story circle with Junebug productions homecoming project
          .hover-img-container
            img(src="images/leading-story-circle.jpg")
            .description Leading a story circle with Junebug Productions
              .credit Melissa Cardona
          .hover-img-container
            img(src="images/NO-sheriff-protest.jpg")
            .description Outside of the New Orleans Sheriff's office demanding he stop illegally detaining undocumented residents
          .hover-img-container
            img(src="images/NOPA-mass-meeting.jpg")
            .description Singing at the New Orleans People's Assembly Mass Meeting
          .hover-img-container
            img(src="images/story-circle-freshgreen.jpg")
            .description After a story circle with youth from Sankofa
          .hover-img-container
            img(src="images/we-deserve-better.jpg")
            .description Hanging out with the members and staff of Breakout as they prepared to release these film, "We Deserve Better" a successful campaign to get an LGBT polcy with the New Orleans Police Department
          .hover-img-container
            img(src="images/wendi-and-father.jpg")
            .description Wendi and her dad, John O'Neal, hanging out at Congo Square
              .credit Jason Foster
          .hover-img-container
            img(src="images/wendi-at-home.png")
            .description At home being interviewed
          .hover-img-container
            img(src="images/wendi-father-1.jpg")
            .description My father as Storyteller, Junebug Jabbo Jones
          .hover-img-container
            img(src="images/wendi-serving.jpg")
            .description Serving as Christina and Heather's wedding
          .hover-img-container
            img(src="images/wendi-singing.jpg")
            .description Singing just for fun
          .hover-img-container
            img(src="images/wendi-superman.jpg")
            .description Singing Freedom Songs at Black Mothers Matter event at Congo Square
          .hover-img-container
            img(src="images/wendi-preach.jpg")
            .description Officiating Heather and Christina's wedding
    include ../templates/footer
