doctype html
html
  head
    title Jáliyah Consulting

    include ../templates/head

    link(rel="stylesheet", href="index.css")
  body
    .page
      include ../templates/nav
      include ../templates/carousel

      .header
        h1 Jáliyah
        blockquote Story Circle Workshops, Freedom Singing Circles, Facilitation

      .container(ontouchstart="")
        .wendi
          img(src="images/wendi-at-home.png", alt="")
        .welcome
          h2 Welcome
          p Thank you for visiting my site and for your interest in freedom singing, story circles, civil rights, and human rights movement culture and traditions. Here, you will find the info about story circles and stories of New Orleans and southern Louisiana justice movement history. You will also find information on:
          ul
            li how to order music from some of my favorite musicians
            li books from 1st person accounts
            li how to book me to speak in your class or school program
            span or
            li for my particular brand of meeting facilitation
          p I have included lyrics, a selected discography of CDs which include my favorites, and links to some very informative websites. Enjoy!
          span Wendi Moore-O'Neal

    include ../templates/footer
