doctype html
html
  head
    title Resources | Jáliyah Consulting
    include ../templates/head
    link(rel="stylesheet", href="resources.css")
    script(src="scripts/resources.js")
  body
    .page
      include ../templates/nav
      .jumbotron
        .topview
          h1 Resources
          span Jáliyah Resources
      .resources(ontouchstart="")
        .filter
          button.btn.btn-primary#people People
          button.btn.btn-primary#books Books
          button.btn.btn-primary#videos Videos
          button.btn.btn-primary#organizations Organizations
        .content
    include ../templates/footer
