doctype html
html
  head
    title Services | Jáliyah Consulting
    include ../templates/head
    link(rel="stylesheet", href="services.css")
  body
    .page
      include ../templates/nav
      .jumbotron
        .topview
          h1 Services
          span Jáliyah Services
      .container(ontouchstart="")
        h3 Meeting Facilitation
        h3 Grassroots Leadership Development
        h3 Freedom Singing
        h3 Workshops & Training
        h3 Story Circles
         h5 Facilitating Story Circles
         h5 Training In Story Circle Process
          a.btn.btn-primary(href="contact.html") Contact Now!
        // .tops
        //   h1 This is good
        //   p getting somewhere

        //     a.btn.btn-primary(href="contact.html") Contact now!

    include ../templates/footer
