doctype html
html
  head
    title Services | Jáliyah Consulting
    include ../templates/head
    link(rel="stylesheet", href="services.css")
  body
    .page
      include ../templates/nav
      .jumbotron
        .topview
          h1 Services
          span Jáliyah Services
      .container(ontouchstart="")
        .types
          h3 Meeting Facilitation
          h3 Grassroots Leadership Development
          h3 Freedom Singing
          h3 Workshops &amp; Training
          h3 Story Circles
            ul
              li
                h3 Facilitating Story Circles
              li
                h3 Training In Story Circle Process

    include ../templates/footer
