@import 'helpers.styl'

.jumbotron
  backgroundImage('images/NO-sheriff-protest.jpg', top)

.container
  margin-bottom 15px
  .submitted
    text-align center
    color $primary-color
    display none
  .form
    .form-group, label
      font-family 'Raleway', sans-serif
    .form-group
      .form-control:active, .form-control:focus
        border-color $primary-color
    button
      width 100%
    .phone .check,
    .email .check
      margin-bottom 0
      padding 0
      label
        font-size .9rem
        width 100%
        margin 0
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)

@media only screen and (max-width: 767px)
  .form-group
    .col-md-6
      margin-top 10px
