$primary-color = #1a237e
boxShadow()
  box-shadow 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12)

.gallery
  margin 0 20px 32px 20px
  .imgs
    margin-bottom 12px
    display flex
    .last-img,
    .next-img
      text-align center
      width 15%
      a
        cursor pointer
        position relative
        top 50%
        transform translateY(-50%)
        i
          animation-duration 5s
    .last-img:hover,
    .next-img:hover
      color $primary-color
    .hover-img-container
      display none
      cursor pointer
      img
        // height 100%
        // width auto
        pointer-events none
    .current-img
      display block
      width 70%
      min-height 450px
      max-height 450px
      overflow scroll
    .modal
      .modal-dialog
        transform translate(0, 5%)
        max-width unset
        width 85%
        boxShadow()
      .modal-content
        border unset
        img
          width 100%
          height auto
        .description
          background-color #000
          color #fff
          font-family 'Raleway', sans-serif
          font-size 20px
          text-align center
          padding 10px
          .credit
            font-style italic
          .credit:before
            content 'Photo Credit: '
            font-size 1.2rem
  .bottom-select
    boxShadow()
    display flex
    margin 0 auto
    overflow scroll
    .bottom-current
      padding 10px !important
      transition padding 500ms
      -webkit-transition padding 500ms
    .bottom-image
      padding 0px
      transition padding 500ms
      -webkit-transition padding 500ms
      height 100px
      margin-left 4px
      margin-right 4px
      img
        height 100%
        width auto
    .first-img
      margin-left 0
    .last-img
      margin-right 0

  .hover-img-container img,
  .bottom-image
    -khtml-user-select none
    -o-user-select none
    -moz-user-select none
    -webkit-user-select none
    user-select none
  .hover-img-container img,
  .modal-content img
    pointer-events none

screenSize = 150px
imgsHeight = 50px
for _ in (1..41)
  @media only screen and (min-width: screenSize)
    .imgs
      height imgsHeight
  screenSize += 20px
  imgsHeight += 10px

