$primary-color = #1a237e
transitionBackground(time = 500)
  transition background-color unit(time, ms)
  -webkit-transition background-color unit(time, ms)
boxShadow()
  box-shadow 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12)
purpleToWhite(t = 500)
  color #ffffff
  transitionBackground(t)
purpleToWhiteHover(t = 500)
  color $primary-color !important
  background-color #ffffff !important
  boxShadow(t)
  transitionBackground(t)

.btn-primary
  cursor pointer
  background-color $primary-color
  border-color $primary-color
  purpleToWhite(200)
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary.active,
.btn-primary.focus
  border-color $primary-color
  purpleToWhiteHover(200)

html, body
  height 100%
body
  position relative
  margin 0
  min-height 100%
.page
  min-height 90%

.hamburger
  display none
  padding 15px
  text-align center
  cursor pointer
  font-size 1.5em
  purpleToWhite()
.hamburger:hover
  purpleToWhiteHover()
.nav
  .nav-item
    flex auto
  .nav-link
    text-align center
    font-family 'Raleway', sans-serif
    purpleToWhite()
  .nav-link:hover
    purpleToWhiteHover()
  .dropdown:hover .dropdown-menu
    display block
  .dropdown-menu
    border-radius 0
    margin -.5px
    background-color $primary-color
    padding 0
    border none
    min-width unset
    max-width unset
    font-family 'Raleway', sans-serif
    .nav-link
      width inherit
      border-radius 0
      display block
      text-align center

@media only screen and (min-width : 768px)
  .nav
    display flex !important

@media only screen and (max-width: 767px)
  .hamburger
    display block
  .nav
    display none
    .dropdown-menu
      width 100% !important
      margin-top 0
      position relative
      float none
      .nav-link
        background-color #2F1B9B !important
      .nav-link:hover
        background-color #ffffff !important
        color $primary-color !important

.footer
  padding 15px
  width 100%
  .social-media
    text-align right
    .fa
      margin 2px
      text-decoration none

.hamburger,
.nav,
.nav-link,
.footer
  background-color $primary-color

.topview
  text-align center
  border-radius 0
  h1
    font-family 'Cookie', cursive
    font-size 5rem
  span
    font-family 'Raleway', sans-serif
    display block
    margin-top -20px

.hover-img-container
  position relative
  text-align center
  img
    boxShadow();
    width 100%
    height auto
    opacity 1
    transition opacity 500ms
    -webkit-transition opacity 500ms
  .description
    font-family 'Raleway', sans-serif
    margin-bottom 40px
    visibility hidden
    position absolute
    bottom 0
    left 0
    right 0
    background-color black
    padding 5px
    color #ffffff
    font-weight bolder
    font-size 1.3rem
    transition visibility 100ms
    -webkit-transition visibility 100ms
    .credit
      font-style italic
    .credit:before
      content 'Photo Credit: '
      font-size 1.2rem
.hover-img-container:hover .description
  visibility visible
  transition visibility 500ms
    -webkit-transition visibility 500ms
.hover-img-container:hover img
  opacity .7

transitionParagraph(time = 500)
  transition padding unit(time, ms), border-left unit(time, ms)
  -webkit-transition padding unit(time, ms), border-left unit(time, ms)
.paragraphs
  font-family 'Raleway', sans-serif
  p
    font-size 1.05rem
    border-left none
    padding 0
    transitionParagraph()
  p:hover,
  p:active,
  p:focus
    border-left 1px solid $primary-color
    padding 10px
    transitionParagraph()
