@import 'helpers.styl'

.header
  text-align center
  margin 20px
  h1
    font-size 6rem
    font-family 'Cookie', cursive
  blockquote
    font-size 1.05rem
    font-family 'Raleway', sans-serif

#carousel
  // background-color $primary-color
  .carousel-slide-changer
    cursor pointer
  .carousel-item
    text-align center
    // img
    //   width 100%
  .carousel-control-prev,
  .carousel-control-next
    width 10%
    opacity 1 !important
  .carousel-control-prev:hover,
  .carousel-control-next:hover
    opacity 1 !important

.container
  margin-bottom 15px
  .wendi
    margin-bottom 15px
    img
      width 100%
      height auto
  .welcome
    margin-bottom 20px
    font-family 'Raleway', sans-serif
    h2
      font-size 2.3rem
    p, span, ul
      font-size 1.12rem
