@import 'helpers.styl'

.header
  text-align center
  margin 20px
  h1
    font-size 6rem
    font-family 'Cookie', cursive
  blockquote
    font-size 1.05rem
    font-family 'Raleway', sans-serif

.carousel
  background-color $primary-color
  height 500px
  .carousel-inner
    height inherit
    .carousel-item
      height inherit
      text-align center
      img
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        width 100%
        height auto
    .carousel-control-prev,
    .carousel-control-next
      width 10%
    .carousel-slide-changer
      cursor pointer

.container
  margin-bottom 15px
  .wendi
    margin-bottom 15px
    img
      width 100%
      height auto
  .welcome
    margin-bottom 20px
    font-family 'Raleway', sans-serif
    h2
      font-size 2.3rem
    p, span, ul
      font-size 1.12rem

screenSize = 900px
imgsHeight = 500px
for _ in (1..23)
  @media only screen and (max-width: screenSize)
    .carousel
      height imgsHeight
  screenSize -= 20px
  imgsHeight -= 15px
