@import 'helpers.styl'

.jumbotron
  backgroundImage('images/wendi-superman.jpg', right 0px bottom -400px)
  .topview
    span
      margin-top -10px

.container
  .hover-img-container
    margin-bottom 10px
