.resources
  margin 0 auto
  width 85%
  .dont-start-me-to-talking
    img
      width 100%
      height auto
  .card
    margin-bottom 15px
    .card-title, .card-text
      font-family 'Raleway', sans-serif
