@import 'helpers.styl'

.jumbotron
  backgroundImage('images/wendi-serving.jpg', right 0px bottom 100%)
.container
  text-align center
  font-family 'Raleway', sans-serif
  .btn
    padding 15px
    display block
    margin 0 auto
    margin-top 20px
    width 50%
