@import 'helpers.styl'

.topview
  background-image url('images/wendi-singing.jpg')
  background-repeat no-repeat
  background-position center
  background-size cover

.container
  .hover-img-container
    margin-bottom 10px
